@import url('http://fonts.cdnfonts.com/css/matrix');

:root {
    --primary-color:#42c920;
}

* {
    box-sizing: border-box;
    outline: 0;
    font-family: 'Matrix', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-size: 1.3em;
    line-height: 1.5em;
}

.container {
    max-width: 640px;
    margin: auto;
    background-color: black;
    color: #42c920;
    padding: 20px;
    margin-top: 50px;
    border-radius: 10px;
}
.form input, .form label, .form button {
    display: block;
    width: 100%;
    margin-top: 5px;
}
.form input {
    font-size: 18px;
    height: 30px;
    padding: 0 20px;
}
.form input:focus {
    outline: 1px solid var(--primary-color);
}
.form button {
    border: nome;
    background-color: #42c920;
    color:black;
    font-size: 18px;
    font-weight: 700;
    height: 50px;
    margin-top: 20px;
    cursor: pointer;
}
.form button:hover {
    background:#41b425;
}
.tabela {
    display: flex;  
    justify-content: space-between;
}